@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

button,
a[role="button"],
select,
[type="checkbox"],
[type="radio"],
label[for],
label:has(input[type="file"]),
summary,
[role="button"] {
  cursor: pointer !important;
}
